:root {
	--global-shortest: green;
	--global-longest: red;

	--creator-video: blue;
	--creator-shortest: yellowgreen;
	--creator-longest: tomato;
}

.courte-video {
	background-color: var(--global-shortest);
}

.longue-video {
	background-color: var(--global-longest);
}

.creator-video {
	background-color: var(--creator-video) !important;
}

.courte-creator-video {
	background-color: var(--creator-shortest) !important;
}

.longue-creator-video {
	background-color: var(--creator-longest) !important;
}

.courte-video.courte-creator-video {
	box-shadow: 0 0 0 4px var(--global-shortest) inset;
}

.longue-video.longue-creator-video {
	box-shadow: 0 0 0 4px var(--global-longest) inset;
}